.box {
  display: flex;
  justify-content: space-between;
}
.link {
  font-weight: 200;
  color: black;
  text-decoration: none;
}
.link:hover {
  text-decoration: underline;
}
.line {
  color: ghostwhite;
}
.h2 {
  font-weight: 400;
  font-size: 25px;
}
.linkBox {
  padding-top: 30px;
}
.container {
  margin-top: 50px;
}
