.buttonWrapper {
  margin-top: 80px;
}
.button {
  font-size: 14px;
  color: white;
  background-color: #f45e0d;
  padding: 15px 80px 15px 80px;
  border-radius: 5px;
  text-decoration: none;
}
.button:hover {
  background-color: #de570f;
}
.bg {
  overflow-x: hidden;
  position: absolute;
  width: 350px;
  height: 495px;
  top: calc(50% - 250px);
  left: calc(50% - 175px);
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  cursor: default;
  padding: 40px 20px;
}
