.footerBox {
  background: rgb(2, 23, 54);
  background: linear-gradient(
    180deg,
    rgba(2, 23, 54, 1) 84%,
    rgba(3, 41, 98, 1) 92%,
    rgba(4, 82, 196, 1) 100%
  );
  margin-top: 20px;
  padding: 20px 10px 15px 30px;
  color: white;
  border-radius: 10px;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: opacity 0.5s;
}
